.schedule_table {
    // border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid #aaa;
    margin: 0;
    border: none;
}
.schedule_table th {
    text-align: center;
    border: 1px solid #aaa;
    padding: 2px 8px;
    text-transform: capitalize;
}
.schedule_table td {
    border: 1px solid #aaa;
    padding: 1px 8px;
    text-align: center;
}
.schedule_table .title { 
    font-weight: 500;
}
.schedule_header {
    font-size: 39px;
    font-weight: 300;
    letter-spacing: 8px;
    line-height: 76px;
}
.schedule_header .venue_logo {
    max-height: 76px;
    vertical-align: middle;
    margin-right: 10px;
    margin-bottom: 10px;
}
.schedule_footer {

}

/* CUSTOM DESIGNS */

.schedule_yogahouse {
    .schedule_header {
        text-transform: uppercase;
    }
    .schedule_table{
        td {
            background-color: #C5FDFE;
            border: 12px solid white;
        }
        tr:first-child {
            background-color: #02ABD6;
            th { 
                border: none; 
                color: #fff;  
                font-weight: 300;
                font-size: 18px;
                padding: 0;
                text-transform:uppercase;
            }
        }
        tr td:first-child {
            background-color: transparent;
        }
    
    }

}